<form method="POST" action="/entities">
	<!-- COMPONENT START -->
	<div class="form-group">
		<label for="">Fiware-Service</label>
		<div class="input-group input-file" name="Fichier1">
			<input id="fiwareService" name="fiwareService" type="text" class="form-control" placeholder='Enter Fiware-Service...' />
		</div>
	</div>
	<div class="form-group">
		<label for="">Fiware-Service-Path</label>
		<div class="input-group input-file" name="Fichier1">
			<input id="fiwareServicePath" name="fiwareServicePath" type="text" class="form-control" placeholder=<%= data %> />
		</div>
	</div>
	<div class="form-group">
		<label for="">Access-Token</label>
		<div class="input-group input-file" name="Fichier1">
				<%if (typeof token != 'undefined') { %>
					<input id="accessToken" name="accessToken" type="text" class="form-control" placeholder='Enter Access-Token...'  value=<%= token %> />
				<% } else { %>
					<input id="accessToken" name="accessToken" type="text" class="form-control" placeholder='Enter Access-Token...' />
				<% } %>
		</div>
	</div>
	<!-- COMPONENT END -->
	<div class="form-group">
		<button id="main" type="submit" class="btn btn-primary pull-right">List Entities</button>
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				Get Access Token
			</button>
	</div>
	<div class="collapse" id="collapseExample">
			<div class="card card-body">
				<form method="POST" action="/token">
						<div class="form-group">
								<label for="">Email</label>
								<div class="input-group input-file" name="Fichier1">
									<input name="username" type="text" class="form-control" placeholder='Enter Fiware-Service...' />
								</div>
							</div>
							<div class="form-group">
								<label for="">Password</label>
								<div class="input-group input-file" name="Fichier1">
									<input name="password" type="password" class="form-control" placeholder='Enter Fiware-Service-Path...' />
								</div>
							</div>
							<div class="form-group">
									<button id="main" type="submit" class="btn btn-primary pull-right">Send</button>
								</div>
				</form>
			</div>
		</div>
	<%if (typeof msg != 'undefined') { %>
		<div class="card">
	  <div class="card-header">
	    Warning
	  </div>
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item list-group-item-danger"><%= msg %></li>
	  </ul>
		</div>
	<% } %>
	<p class="text-center text-white bg-success">
		<%= typeof succ != 'undefined' ? succ : '' %>
	</p>
</form>
