<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Waste4Think</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/"><i class="fas fa-home"></i> Home</a>
    <a class="p-2 text-dark" href="/entitieshome"><i class="fas fa-align-justify"></i> Entities</a>
    <a class="p-2 text-dark" href="/detailshome"><i class="fas fa-info"></i> Details</a>
    <a class="p-2 text-dark" href="/typehome"><i class="fas fa-info"></i> Type</a>
    <a class="p-2 text-dark" href="/upload"><i class="far fa-file"></i></i> Create</a>
    <a class="p-2 text-dark" href="/update"><i class="far fa-file"></i></i> Update</a>
    <a class="p-2 text-dark" href="/rules"><i class="fas fa-check"></i> Rules</a>
    <a class="p-2 text-dark" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </nav>
</div>